.section {
  padding-top: clamp(60px, 8vw, 120px);
  padding-bottom: clamp(60px, 8vw, 120px);
  &--sm {
    padding-bottom: clamp(15px, 4vw, 30px);
  }
  &--top {
    padding-top: clamp(60px, 8vw, 120px);
  }
  &--bottom {
    padding-bottom: clamp(60px, 8vw, 120px);
  }
  &__head {
    padding-bottom: clamp(30px, 4vw, 60px);
  }
  &__para {
    max-width: 60ch;
  }
}
